.header {
  position: relative;
  margin-bottom: 1em;
}

.header h1 {
  font: inherit;
  font-size: 2.4rem;
  margin: 0;
}

.header .steps-indicator {
  position: absolute;
  right: 0;
  bottom: 2px;
  color: #5d7c89;
}

@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 2em;
  }

  .header h1 {
    font-size: 4rem;
  }

  .header .steps-indicator {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    display: none;
  }
}